header.header
	div.header_contents
		canvas#player_background.player_background
		div.player_container
			div.player_main
				div.player_details
					div.player_art
						img(id="player_art_el" class='player_art_el' src="assets/transparent.png" alt="Album Art")
					div.player_text
						h1#title.title Simple Music Player
						p#artist.artist By Ryan Kim
						p#player_times.player_times
							span#player_current_time --:--
							|  /  
							span#player_duration --:--
				div.player_timeline
					input(class="player_range" id="player_range" type="range" min="0")
				div.player_controls
					div#playpause.control.playpause.paused
						div.controlContents
					div.additionalControls
						div#back5.control.back5
							div.controlContents
						div#for5.control.for5
							div.controlContents
						div#prev.control.prev
							div.controlContents
						div#next.control.next
							div.controlContents
						div#loopDropdown.dropdown.controlDropdown
							div.dropdownPlaceholder.text
								span#dropdownLoopCurrent.dropdownPlaceholderContent Loading...
							div.dropdownList
								div#noLoop.dropdownItem
									span.dropdownItemText No Loop
								div#loopAlbum.dropdownItem
									span.dropdownItemText Loop Album
								div#loopAlbumArtist.dropdownItem
									span.dropdownItemText Loop Album Artist
						div#repeatDropdown.dropdown.controlDropdown
							div.dropdownPlaceholder.text
								span#dropdownRepeatCurrent.dropdownPlaceholderContent Loading...
							div.dropdownList
								div#repeatOff.dropdownItem
									span.dropdownItemText No Repeat
								div#repeatSong.dropdownItem
									span.dropdownItemText Repeat Song
								div#repeatQueue.dropdownItem
									span.dropdownItemText Repeat Queue
						div#shuffleToggle.toggle.controlToggle.shuffleToggle
							span Shuffle

			div#player_lyrics.player_lyrics