block header
	header.header
		nav.navigation
			a(class="navigationLink" href="/") Song List
		div.player_container
			div.controls_container.player_subcontainer
			div.details_container.player_subcontainer
			div.settings_container.player_subcontainer