doctype html
html
	head
		title= title
		link(rel="stylesheet" href="/stylesheets/all.css")
	body
		block header
			include partials/header

		block content
		script(src='/javascripts/global.js')

		block footer