doctype html
html
	head
		title= title
		link(rel="stylesheet" href="/stylesheets/all.css")
	body
		block header
			header.header
				h1 Simple Music Player

		block content
		script(src='/javascripts/global.js')