@-o-keyframes fadeEdit {
  0%   { background-color: rgb(201,222,0); }
  50%  { background-color: rgb(242,253,132); }
  100% { background-color: rgb(255,255,255); }
}
@keyframes fadeEdit {
  0%   { background-color: rgb(201,222,0); }
  50%  { background-color: rgb(242,253,132); }
  100% { background-color: rgb(255,255,255); }
}
html 	{	margin:0;			padding:0;		height:100%;		width:100%;			font-family: "Arial";	}
body 	{	display:block;		margin:0;		padding-top:0;		padding-bottom:0;	height:100%;	width:100%;		box-sizing: border-box;		overflow:hidden;	font-size:12px;		position:relative;	}
h1 		{	margin:0;			font-size:20px;	text-align: left;	}
h2		{	margin-top:30px;	margin-bottom:5px;	color:white;	}

.container {	position:relative;	display:block;	width:100%;	margin-left:auto;	margin-right:auto;	height:auto;	text-align: center;	box-sizing: border-box;	}
.item {	display:block;	width:100%;	height:auto;	margin-left:auto;	margin-right:auto;	box-sizing: border-box;	position:relative;	}
.hover:hover {	cursor:pointer;	/*box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);*/	font-weight: bold;	}

form {	position:relative;	z-index: 2;	display:none;	width:100%;	height: 100%;	padding-left:20px;	padding-right:20px;	padding-top:80px;	padding-bottom:80px;	box-sizing: border-box;	font-size:0;	background-color:rgb(70,70,70);	}
	form .inputFile, form .inputRadio {	display:none;	overflow:hidden;	}
	form .inputRadio:checked + label, form .inputRadio:checked + .previewLabel {	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);	}
	
	form .item.header {	position:absolute;	top:0;	left:0;	height:80px;	text-align: center;	z-index: 3;	}
	form .container.header {	height:100%;	}
	form .item.formTitle {	position:absolute;	z-index: 3;	left:0;	right:0;	top:50%;	transform:translateY(-50%);	width:90%;	margin-top:0;	margin-bottom:0;	font-size:25px;	color:white;	}
	
	form .item.submitContainer {	position:absolute;	z-index: 4;	bottom:0;	left:0;	height:80px;	padding:20px;	text-align: center;	font-size:0;	}
	form .item.submitItem {	display:inline-block;	height:30px;	line-height: 30px;	margin-bottom:5px;	color:white;	border:none;	font-size:12px;	}
	form .item.submit {	background-color:rgb(100,100,100);	width:60%;	margin-right:3%;	}
	form .item.delete {	background-color:red;	width:33%;	}

	form .item.innerForm {	position:relative;	display:block;	width:100%;	height:100%;	z-index: 3;	font-size:0;	overflow-y:scroll;	overflow-x:hidden;	}
	form .container.innerForm {	position:absolute;	height:100%;	top:0;	}
	form div.hidden {	display:none !important;	}

	.container.segmentContainer {	min-height:50px;	margin-bottom:10px;	padding-bottom:15px;	}
	.container.segmentContainer.half {	display:inline-block;	vertical-align: top;	width:50%;	}
	.container.segmentContainer.half.left {	padding-right:5px;	}
	.container.segmentContainer.half.right {	padding-left:5px;	}

	.item.label {	font-size:12px;	font-weight: bold;	margin-bottom:3px;	text-align: left;	}
	.item.inputText {	padding-top:5px;	padding-bottom:5px;	padding-left:10px;	padding-right:10px;	border:none;	/*border:1px solid rgb(230,230,230);*/	font-size:15px;	background-color:rgb(100,100,100);	color:white;	}
	.item.inputError {	position:absolute;	bottom:0;	left:0;	height:15px;	line-height: 15px;	font-size:10px;	text-align: left;	}

	.item.preview {	position:relative;	z-index: 2;	width:100%;	}
	.item.previewItem {	position:absolute;	z-index: 2;	top:50%;	transform:translateY(-50%);	left:0;	right:0;	max-width: 100%;	max-height: 100%;	}
	.container.preview {	position:relative;	display:block;	z-index: 2;	width:100%;	padding-top:100%;	height:0;	}
	.container.alternatives, .container.dropArea {	position:relative;	display:block;	z-index: 2;	width:100%;	height:175px;	overflow-x:hidden;	overflow-y: scroll;		border:1px solid rgb(230,230,230);	padding-top:10px;	padding-bottom:10px;	background-color:rgb(100,100,100);	}
	.container.dropArea {	height:auto;	min-height: 400px;	width:100%;	padding-left:10px;	padding-right:10px;	}
		.container.dropArea.highlight {		box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);	}
	.item.overlay {	position:absolute;		z-index: 3;	top:50%;	transform: translateY(-50%);	width:80%;	font-size:12px;	left:0;	right:0;	padding-top:10px;	padding-bottom: 10px;	text-align: center;	background-color: rgb(70,70,70);	color:white;	border:1px solid white;	}
	.item.button {	font-size:12px;	/*background-color:rgba(150,150,150,0.8);*/	background-color:rgb(100,100,100);	padding:5px;	width:100%;	color:white;	border:1px solid white;	}
	.item.alternate {	display:inline-block;	vertical-align: top;	width:50px;	height:50px;	margin:2px;	position:relative;	/*border:1px solid rgb(230,230,230);*/	background-color:white;	}
	.container.alternatives .item.alternate:last-child {	margin-bottom:10px;	}
	.item.previewLabel {	position:absolute;	z-index: 2;	width:100%;	height:100%;	left:0;	right:0;	border:none;	margin:0;	}
	.item.inputLabel {	display:inline-block;	vertical-align: middle;	margin:10px;	font-size:12px;	border:1px solid rgb(150,150,150);	}

#background {	position:absolute;	min-width:100%;	min-height:100%;	top:0;	bottom:0;	left:0;	right:0;	background-color:transparent;	}
.cancel {	position:absolute;	z-index: 5;	top:10px;	right:10px;	display:block;	width:20px;	height:20px;	line-height:10px;	box-sizing: border-box;	padding:5px;	border-radius: 30px;	background-color: red;	color:white;		border-radius: 20px;	text-align: center;	font-size:10px;	}
	.cancel:hover {	cursor:pointer;	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);	}
.important {	color:red;	}
.inner {	position:relative;	display: block;	width:100%;	height:100%;	box-sizing: border-box;	}
.toggle {	
	display:inline-block;
	vertical-align: middle;
	width:100px;		
	text-align:center;	
	height:30px;	
	line-height: 30px;	
	padding-left:10px;	
	padding-right:10px;
	margin-right:10px;
	/*	
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);	
	background-color:rgb(70,70,70);	
	color:rgb(183,183,183);
	*/
	background-color:rgb(100,100,100);
	color:white;
	font-size:12px;	
	-webkit-transition: font-size 200ms linear;	
	-ms-transition: font-size 200ms linear;	
	transition: font-size 200ms linear;	
}
	.toggle:hover {	cursor:pointer;	font-weight: bold;}
.dropdown {		position: relative;	z-index: 3;		}
	.dropdown .dropdownPlaceholder {	display:block;	width:100%;	height:100%;	background-color:rgb(100,100,100);	/*border:1px solid rgb(230,230,230);*/	font-size: 12px;	box-sizing: border-box;	}
		.dropdown .dropdownPlaceholder.overlay {	position: absolute;	z-index: 5;	background-color:rgb(100,100,100);	}
		.dropdown .dropdownPlaceholder.input {	position:relative;	z-index: 4;	height:100%;	padding-top:5px;	padding-bottom:5px;	padding-left:10px;	padding-right:10px;	}
			.dropdown .dropdownPlaceholder.input:hover {	background-color:transparent;	}
	.dropdown .dropdownContents {	display:none;	min-width:100%;	height:auto;	box-sizing: border-box;	}
	.dropdown:hover .dropdownPlaceholder {	cursor:pointer;	/*background-color:rgb(230,230,230);*/	}
	.dropdown:hover .dropdownContents {	display:block;	}
		.dropdown .dropdownContents .dropdownArrow {	width: 0; 	height: 0; 	padding: 0;	background-color:transparent;	border-left: 5px solid transparent;	border-right: 5px solid transparent;	border-bottom: 5px solid rgb(230,230,230);	margin-left:10px;	}
		.dropdown .dropdownContents .dropdownItems {	display:block;	height:auto;	width:auto;	min-width:100%;	background-color:white;	border:1px solid rgb(230,230,230);	box-shadow: 0px 0px 5px 1px rgb(230,230,230);	overflow:hidden;	}
			.dropdown .dropdownContents .dropdownItems.show {	display:block;	}
			.dropdown .dropdownContents .dropdownItems .dropdownItem {	display:block;	min-width: 100%;	height:auto;	padding-top:5px;	padding-bottom:5px;	padding-left:10px;	padding-right:10px;	box-sizing: border-box;	}
				.dropdown .dropdownContents .dropdownItems .dropdownItem h5 {	display:block;	height:25px;	font-size:12px;	line-height:15px;	width:100%;	margin:0;	box-sizing: border-box;	padding:5px;	background-color:rgb(230,230,230);	}

#bodyHeader {	position:fixed;	z-index: 5;	top:0px;	display:block;	height:50px; width:100%;	background-color:rgb(70,70,70);	/*box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);*/	left:0;	right:0;	margin:auto;	box-sizing: border-box;	border-bottom:1px solid black;	}
	#innerHeader {	position:absolute;	left:0;	top:0;	padding:10px;	width:400px;	height:50px;	box-sizing: border-box;	font-size:0;		}
	#bodyHeader .dropdown {	display:inline-block;	vertical-align: middle;	height:30px;	margin-right:10px;	font-size:12px;	}
		#bodyHeader .dropdown.settings {	width:30px;	}
			#bodyHeader .dropdown.settings .dropdownPlaceholder {	padding:5px;	box-sizing: border-box;	}
				#bodyHeader .dropdown.settings .dropdownItems {	display:block;	width:110px;	}
				#bodyHeader .dropdown.settings .dropdownContents .dropdownItems .dropdownItem:hover {	cursor:pointer;	background-color:rgb(240,240,240);	text-decoration: underline;	}
		#bodyHeader .dropdown.search {	width:30px;	font-size: 0;	background-color:rgb(100,100,100);	-webkit-transition: width 200ms ease-in;	-ms-transition: width 200ms ease-in;	transition: width 200ms ease-in;	}
			#bodyHeader .dropdown.search:hover {	width:200px;	}
			#bodyHeader .dropdown.search .dropdownPlaceholder {	border:none;	color:white;	}
				#bodyHeader .dropdown.search:hover .dropdownPlaceholder {	/*background-color:white;*/	}
			#bodyHeader .dropdown.search .dropdownPlaceholder.overlay {	width:30px;	height:30px;	top:0;	right:0;	padding:5px;	}
			#bodyHeader .dropdown.search .dropdownItems {	height:auto;	max-height: 400px;	overflow-y:scroll;	}
			#bodyHeader .dropdown.search .dropdownItems .dropdownItem {	padding:0;	}
				#bodyHeader .dropdown.search .dropdownItems .dropdownItem .searchAlbum {	display:block;	height:auto;	min-height: 50px;	width:100%;	}
					#bodyHeader .dropdown.search .dropdownItems .dropdownItem .searchAlbum .searchSong {	display:block;	height: 50px;	width:200px;	font-size:0;	}
						#bodyHeader .dropdown.search .dropdownItems .dropdownItem .searchAlbum .searchSong:hover {	cursor:pointer;	background-color:rgb(237,246,253);	}
						#bodyHeader .dropdown.search .dropdownItems .dropdownItem .searchAlbum .searchSong .searchSongArt {	display:inline-block;	vertical-align: top;	width:50px;	height: 100%;	position:relative;	}
							#bodyHeader .dropdown.search .dropdownItems .dropdownItem .searchAlbum .searchSong .searchSongArt img {	position:absolute;	display:block;	max-width:100%;	max-height: 100%;	margin:auto;	left:0;	right:0;	top:0;	bottom:0;	}
						#bodyHeader .dropdown.search .dropdownItems .dropdownItem .searchAlbum .searchSong .searchSongText {	display:inline-block;	vertical-align: top;	font-size:12px;	width:148px;	height:100%;	position:relative;	box-sizing: border-box;	padding-left:5px;	padding-right:5px;	padding-top:10px;	padding-bottom: 10px;	}
							#bodyHeader .dropdown.search .dropdownItems .dropdownItem .searchAlbum .searchSong .searchSongText .searchSongTitle {	display:block;	width:138px;	height:15px;	font-weight: bold;	overflow:hidden;	text-overflow: ellipsis;	white-space: nowrap;	}
							#bodyHeader .dropdown.search .dropdownItems .dropdownItem .searchAlbum .searchSong .searchSongText .searchSongArtist {	display:block;	width:138px;	height:15px;	font-style:italic;	overflow:hidden;	text-overflow: ellipsis;	white-space: nowrap;	}
#headerSettings {
	background:url(../assets/playerSprites.png) -245px -5px;
}
#headerSearch {
	background:url(../assets/playerSprites.png) -5px -85px;
}

#body {
	position:relative;
	box-sizing: border-box;
	display:block;
	width:100%;
	height:100%;
	padding-top:51px;
}
.content {	height:100%;	box-sizing: border-box;	}
#list {	
	position:absolute;
	box-sizing:border-box;
	padding-top:50px;
	z-index: 2;
	top:0;
	display:block;
	color:white;
	height:100%;
	width: 400px;
	font-size:12px;
}
#list.left {
	left:0;
	border-right:1px solid black;
	-webkit-transition: left 200ms ease-in-out;
	-ms-transition: left 200ms ease-in-out;
	transition: left 200ms ease-in-out;
}
#list.right {
	right:0;
	border-left:1px solid black;
	-webkit-transition: right 200ms ease-in-out;
	-ms-transition: right 200ms ease-in-out;
	transition: right 200ms ease-in-out;
}
	#list.left.closed {	left:-400px;	}
	#list.right.closed {	right:-400px;	}
	.content.list {		overflow-y:scroll;	/* 	padding-bottom:60px;*/	box-sizing: border-box;		background-color:rgb(100,100,100);		}
		#listSongs {	/*margin-bottom:60px;*/}
		.item.albumArtist {	width:100%;	padding:10px;	background-color:rgb(70,70,70);	color:white;	/*box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);*/	border-bottom:1px solid rgb(0,0,0);	}
		.container.album {	width:100%;	padding-top:20px;	/*border-bottom:1px solid rgb(200,200,200);*/ border-bottom: 1px solid rgb(0,0,0);	border-radius:0;	/*background-color:rgba(255,255,255,0.5);	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);*/	}
		.item.album {	position:relative;	margin-bottom:10px;	/*border-bottom:1px solid rgb(200,200,200);*/	text-align: left;	}
		.item.album h2{		margin-top:0px;	margin-bottom: 0px;	padding-right:20px;	}
		.container.albumArt {	position:absolute;	left:20px;	display:block;	max-width: 125px;	max-height: 125px;	overflow:hidden;	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);	border-radius:0;	}
			.item.albumArt {	max-height: 100%;	max-width: 100%;	}
			.item.addAlbumArt_button {	position:absolute;	bottom:-100px;	left:0;	right:0;	width:100%;	padding:8px;	background-color: rgba(150,150,150,0.8);	color:white;	-webkit-transition: bottom 200ms ease-in;	-ms-transition: bottom 200ms ease-in;	transition: bottom 200ms ease-in;	}
				.container.albumArt .addAlbumArt_button {	cursor:pointer;	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);	}
				.container.albumArt:hover .addAlbumArt_button {	bottom:0;	}
			.item.song {	padding:10px;	/*border-bottom:1px solid rgb(230,230,230);*/	border-bottom: 1px solid rgb(130,130,130);	-webkit-transition: background-color 100ms linear;	-ms-transition: background-color 100ms linear;	transition: background-color 100ms linear;	}
				.item.song:last-child {	border-bottom:none;	}
				.item.song.selected {	/*background-color: rgba(237,246,253,0.8);*/	background-color:rgb(130,130,130);	}
				.item.song.edited {	-o-animation fadeEdit 5s ease-in-out;	animation fadeEdit 5s ease-in-out;	}
			.item.song:hover {	cursor:pointer;	text-decoration: underline;	background-color: rgba(230,230,230,0.5);	}
			.container.text {	width:100%;	z-index: 1;	padding-left:10px;	padding-right:50px;	text-align: left;	}
			.item.title {	font-weight:bold;	}
			.item.artist {	font-size:0.8em;	}
			.item.icon {	position:absolute;	display:block;	width:auto;	height:15px;	right:20px;	top:50%;	transform: translateY(-50%);	}
			.item.options {	display:none;	position:absolute;	height:4px;	width:auto;	right:10px;	top:50%;	transform: translateY(-50%);	padding:5px;	background-color:white;	border-radius: 4px;	box-sizing: initial;	z-index: 2;	}
				.item.song:hover .item.options {	display:block;	}
				.item.song:hover .item.options:hover {	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);	}
		#addMediaDropArea .addMediaItem {	position:relative;	box-sizing:border-box;	display:block;	height:auto;	min-height: 40px;	padding-left:30px;	width:100%;	font-size:0;	/*box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);*/	background-color:rgb(70,70,70);	margin-bottom:10px;	}
			#addMediaDropArea .addMediaItem.failed {	color:red;	}
			#addMediaDropArea .addMediaItem .addMediaItemCancel	{	font-size:8px;	height:16px;	width:16px;	line-height: 6px;	top:5px;	right:5px;	}
			#addMediaDropArea .addMediaItem .addMediaArt {	position:absolute;	top:0;	left:0;	display:block;	width:30px;	height:40px;	}
				#addMediaDropArea .addMediaItem .addMediaArt .addMediaArtInner {	position:relative;	width:100%;	height:100%;	}
					#addMediaDropArea .addMediaItem .addMediaArt .addMediaArtInner img {	position:absolute;	width:20px;	height:auto;	top:50%;	transform:translateY(-50%);	left:0;	right:0;	margin:auto;	}
			#addMediaDropArea .addMediaItem .addMediaText {	display:block;	width:100%;	box-sizing: border-box;	padding-right:35px;	padding-left:5px;	overflow:hidden;	font-size:10px;	text-align: left;	}
				#addMediaDropArea .addMediaItem .addMediaText span {	display:block;	width:100%;	overflow:hidden;	text-overflow: ellipsis;	white-space: nowrap;	}
				#addMediaDropArea .addMediaItem .addMediaText .addMediaTitle {	height:	20px;	line-height:20px;	margin-top:5px;	font-weight:bold;	font-size:1.2em;	}
				#addMediaDropArea .addMediaItem .addMediaText .addMediaSize {	height:10px;	line-height: 10px;	margin-bottom:5px;	font-style:italic;	}
			#addMediaDropArea .addMediaItem .addMediaError {	display:block;	width:100%;	font-size:10px;	text-align: left;	box-sizing: border-box;	padding-left:5px;	padding-right:10px;	padding-bottom:10px;}

	.container.editLyricsContainer {	margin-bottom:0;	padding-bottom:0;	height: 100%;	padding-top:100px;	}
	.item.editLyrics {	width:100%;	font-size:10px;		border-radius: 0;	height:100%;	}
		.item.editLyrics.header {	position:absolute;	left:0;	top:0;	height:100px;	}
	.container.editLyrics {	display:none;	height:100%;	border:1px solid rgba(230,230,230);	padding:20px;	overflow-y:scroll;	background-color:rgb(100,100,100);	border-radius: 0;	}
		.container.editLyrics.selected {	display:block;	}
	.item.editLyricsLabel {	width:100px;	height:30px;	line-height: 30px;	}
	#convertLyricsActivator {	width:100%;		background-color:rgb(100,100,100);	color:white;	padding:5px;	margin-bottom:20px;		border:1px solid rgb(150,150,150);	text-align: center;	}
	.item.innerEditLyrics {	height:100%;	font-family: "Arial";	resize: none;	font-size:12px;		}
		.item.innerEditLyrics.simple {	border:none;	background-color:transparent;	color:white;	}
		.item.innerEditLyrics.header {	position:relative;	width:80%;	height:25px;	line-height: 25px;	background-color: rgba(0,0,0,0.5);	color:white;	z-index: 3;	}
		.item.innerEditLyrics.dynamic {	margin-top:20px;	z-index: 1;	}
	.item.dynamicSegment {	padding:10px;	/*box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);*/	margin-bottom:10px;	background-color:rgb(70,70,70);	}
	.container.dynamicSegment {	text-align: left;	}
	.item.dynamicSegmentItem {	margin:0;	margin-bottom:5px;	}
	.item.dynamicSegmentItem.dynamicLyricsSegmentAddAbove, .item.dynamicSegmentItem.dynamicLyricsSegmentAddBelow {	width:70%;	padding:5px;	border:1px solid rgb(150,150,150);	border-radius: 10px;	}
	.item.dynamicSegmentItem.dynamicLyricsSegmentSettings {		z-index: 1;			min-height: initial;	height:30px;		padding-bottom:0;		}
	.dynamicSegmentItem .inputText {	display:inline-block;	vertical-align: top;	font-size:10px;	margin-right:5px;	height:100%;	}
	.item.dynamicLyricsTime {	width:42.5%;	}
	.item.dynamicLyricsStyle {	width:35%;	}
	.item.inputLabel.noTextLabel {	margin:0;	width:auto;	font-size:10px;	padding-top:5px;	padding-bottom:5px;	padding-left:10px;	padding-right:10px;	border:1px solid rgb(230,230,230);	}
	.item.innerEditLyrics.dynamic .dynamicLyricsNotext:checked + .item.inputLabel.noTextLabel {	background-color:white;	border:1px solid white;	color:black;	box-shadow: none;	}
	.item.dynamicLyricsEdit {	min-height: 75px;	resize:none;	/*border:1px solid rgb(230,230,230);*/	border:none;	padding:10px;	margin:0;	font-size:10px;	font-family: "Arial";	background-color:rgb(100,100,100);	color:white;	}

#contextMenu {
	position:absolute;
	z-index: 3;
	display:none;
	width:100px;
	height:auto;
	border:1px solid black;
	background-color:rgb(255,255,255);
}
#contextMenu .contextItem {
	display:block;
	width:100%;
	height:25px;
	line-height: 25px;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	padding-left:10px;
}
#contextMenu .contextItem:last-child {
	border-bottom: none;
}
#contextMenu .contextItem:hover {
	cursor:pointer;
	text-decoration: underline;
}

#main {	position:relative;	display:block;	max-width:100%;	height:100%;	box-sizing: border-box;	font-size:0;	overflow:hidden;	z-index: 1;	-webkit-transition: padding 200ms ease-in-out;	-ms-transition: padding 200ms ease-in-out;	transition: padding 200ms ease-in-out;	}
	#list.left + #main {
		padding-left:400px;	padding-right:0;
	}
	#list.right + #main {
		padding-right:400px;	padding-left:0;
	}
	#list.left.closed + #main {
		padding-left:0;
	}
	#list.right.closed + #main {	padding-right:0;	}
#media_container {	display:inline-block;	vertical-align: top;	position:relative;	z-index: 2;	width:100%;	height:100%;	font-size:initial;	-webkit-transition: width 200ms linear;	-ms-transition: width 200ms linear;	transition: width 200ms linear;	}
#video_container {	position:relative;	display:none;	width:100%;	height:100%;	}

.playerTitleAndArtist {	position:relative;	width:100%;	height:auto;	}
.playerTitle {	height:auto;	margin-bottom:5px;	width:80%;	order:2;	}
.playerArtist {	font-style: italic;	height:auto;	}

#media_container.video #player_container {	display:none;	}
#media_container.video #video_container {	display:block;	}
#media_container.video #audioTitleAndArtist {	display:none;	}
#media_container.video #videoTitleAndArtist {	display:block;	}

#player_container {	position:relative; width:100%;	height:100%;	display:block;	}
#player_container.closed, #video_container.closed {	display:none !important;	}
#player_main_div {	position:relative;	display:block;	width:100%;	height:100%;	padding-top:50px;	padding-left:50px;	padding-right:50px;	padding-bottom:250px;	box-sizing: border-box;font-size: 0;	}
#player_art_and_lyrics {	position:relative;	display:flex;	flex-direction: row;	justify-content: center;	align-items:flex-start;	z-index: 3;	width:100%;	font-size:0;	box-sizing: border-box;	height:100%;	text-align: center;	order:1;	flex-grow:2;	}
.table_wrapper {	display: inline-block;	vertical-align: middle;	text-align: center;	height: 100%;	position:relative;	}
#player_art_container {	flex-grow:0;	width:250px;	padding-top:20px;	padding-bottom:20px;	box-sizing: border-box;	}
	#player_art_container.wider {	width:100%;	}
#player_art {	position:absolute;	top:50%;	left:50%;	transform: translate(-50%,-50%);	max-width: 100%;	max-height: 350px;	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);	z-index: 1;	}
#player_lyrics_container {	flex-grow:2;	margin-left:5%;		max-width:500px;	}
#player_lyrics {	position:absolute;	top:50%;	transform: translateY(-50%);	left:0;	right:0;	margin-top:0;	margin-bottom:0;	width:90%;	margin-left:auto;	margin-right:auto;	padding-left:20px;	padding-right:20px;	box-sizing: border-box;	overflow-y: scroll;	text-align: center;		max-height:350px;		font-size: 12px;		box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);		background-color: rgb(246,255,241);		}
#player_lyrics .lyric_segment {	display:block;	width:100%;	height:auto;	min-height:15px;	box-sizing: border-box;	-webkit-transition: font-size 100ms linear;	-ms-transition: font-size 100ms linear;	transition: font-size 100ms linear;		-webkit-transition: padding 100ms linear;	-ms-transition: padding 100ms linear;	transition: padding 100ms linear;}
#player_lyrics .lyric_segment.selected {	border-top:1px solid rgba(0,0,0,0.3);	border-bottom:1px solid rgba(0,0,0,0.3);	font-weight: bold; font-size:13px;	padding-top:5px;	padding-bottom:5px;	}
#player_lyrics .lyric_segment.noText {	border: none !important;	font-weight: normal !important;	padding-left:0 !important;	}


#video_container {	position:relative;	display:none;	width:100%;	height:100%;	}
#video_embed_container {	display:block;		position:absolute;	box-sizing: border-box;	width:100%;	padding-left:50px;	padding-right:50px; 	height: auto;		left:0;		right:0; 	top:50%;	transform: translateY(-50%);		margin-left:auto;		margin-right:auto;		}
#video_embed_inner_container {	display:block;	position:relative;	width:100%;	height:0%;	padding-bottom:51%;	}
#video_embed, #localVideo {	position:absolute;	left:0;	top:0;	width:100%;	height:100%;	z-index: 4;}
#videoTitleAndArtist {	display:none;	position:absolute;	z-index: 5;	top:0;	left:0;	box-sizing: border-box;	padding:50px;	color:white;	text-shadow: 0px 0px 3px rgb(0,0,0);	}
#video_lyrics_container {	display:block;	position:absolute;	z-index: 5;		bottom:150px;	left:0;	right:0;	height:45px;	width:100%;	padding-left:50px;	padding-right:50px;	box-sizing: border-box;	color:white;	}
#video_lyrics_inner_container	{	display:block;	position:relative;	width:100%;	height:100%;	color:white;	}
#video_lyrics_container .lyric_segment {	display:none;	position:absolute;	width:100%;		text-align: center;		height:auto;	max-height: 50px;	top:50%;	transform:translateY(-50%);	left:0;	right:0;	margin-left:auto;	margin-right:auto;		font-size:20px;	font-weight: bold;	text-shadow: 0px 0px 3px rgb(0,0,0);	}
#video_lyrics_container .lyric_segment.selected {	display:block;	}
#video_embed_container:hover #video_extras_container {	display:block;	}
#video_extras_container.lock {	display: block !important;	}
#video_lyrics_container.lock {	bottom:200px !important;	}

#playerInfo {	position:absolute;	bottom:0;	left:0;	z-index: 3;	display:flex;	flex-direction: column-reverse;	justify-content: flex-end;	height:auto;	width:100%;	padding:50px;	font-size: initial;	text-align: left;	box-sizing: border-box;	order:2;	flex-grow: 0;	}
#playerInfo.lock {	opacity:1 !important;	}
#audioTitleAndArtist {	display:flex;	order:4;	flex-direction:column-reverse;	justify-content:flex-end;	margin-bottom:20px;	color:black;	text-shadow: 0px 0px 3px rgb(255,255,255);	}
#time_container {	position:relative;	display:block;	width:100%;		height:30px;	box-sizing:border-box;	padding-right:150px;	padding-left:10px;	font-size:0;	background-color:rgb(70,70,70); box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.5);	color:rgb(183,183,183);		order:3;	}
#time_container input {	display:inline-block;	vertical-align: middle;		width:100%;	box-sizing: border-box;	height:30px;	line-height: 30px;	margin:0;	}
#time_container .playerTimes {	position:absolute;	right:0;	top:0;	font-size:12px;	width:150px;	text-align: center;	height:100%;	}
#time_container .player_time {	display:inline;	font-size:initial;	height:30px;	line-height: 30px;	width:auto;	}
#curTime {	text-align: left;	}
#duration {	text-align: right;	}
#controls_container {	display:block;	width:auto;	height:40px;	margin-top:10px;	font-size:0;	position:relative;	order:2;	}
.controlsButtons {	display:inline-block;	width:250px;	height:40px;	overflow:hidden;	-webkit-transition: width 200ms ease-in;	-ms-transition: width 200ms ease-in;	transition: width 200ms ease-in;}
.control {	display:inline-block;		vertical-align: top;		width:40px;	height:40px;	margin-right:10px;	position:relative;	}
.control:hover{	cursor:pointer;	}
	.control img {	position:absolute;	left:0;	right:0;	margin-left:auto;	margin-right:auto;	max-height: 100%;	top:50%;	transform: translateY(-50%);	}
#playpause {	background:url(../assets/playerSprites.png) 0 0;	}
	#playpause:hover {	background:url(../assets/playerSprites.png) 0 -40px;	}
#playpause.playing {	background:url(../assets/playerSprites.png) -40px 0;	}
	#playpause.playing:hover {	background:url(../assets/playerSprites.png) -40px -40px;	}
#backFive {	background:url(../assets/playerSprites.png) -160px 0;	}
	#backFive:hover {	background:url(../assets/playerSprites.png) -160px -40px;	}
#forwardFive {	background:url(../assets/playerSprites.png) -200px 0;	}
	#forwardFive:hover {	background:url(../assets/playerSprites.png) -200px -40px;	}
#previous {	background:url(../assets/playerSprites.png) -80px 0;	}
	#previous:hover {	background:url(../assets/playerSprites.png) -80px -40px;	}
#next {	background:url(../assets/playerSprites.png) -120px 0;	}
	#next:hover {	background:url(../assets/playerSprites.png) -120px -40px;	}
.extrasButtons {	position:absolute;	left:250px;	top:0;	display:inline-block;	vertical-align:middle;	background-color:rgb(70,70,70);	width:auto;	height:36px;	margin-top:2px;	margin-left:2px;	overflow:hidden;	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.5);	-webkit-transition: width 200ms ease-in;	-ms-transition: width 200ms ease-in;	transition: width 200ms ease-in;	-webkit-transition: left 200ms ease-in;	-ms-transition: left 200ms ease-in;	transition: left 200ms ease-in;	}
.extrasButtons .control {	width:38px;	height:38px;	}
#playerOptions	{	display:none;	width:36px;	height:36px;	background:url(../assets/playerSprites.png) -242px -2px;	}
#volume_container {		width:auto;		max-width:150px;	box-sizing:border-box;	padding-right:	38px;	font-size:0;	position:relative;	margin-right:0;	margin-left:10px;	}
#volume {	display:block;	width:90%;	padding:0;	margin:0;	height:38px;	}
#volume_image {	position:absolute;	margin:0;	left:initial; right:0;	height:40px;	width:40px;	background:url(../assets/playerSprites.png)	-280px -2px;	}
	#volume_image:hover {	background:url(../assets/playerSprites.png)	-280px -42px;	}
#volume_image.half {	background:url(../assets/playerSprites.png)	-320px -2px;	}
	#volume_image.half:hover {	background:url(../assets/playerSprites.png)	-320px -42px;	}
#volume_image.full {	background:url(../assets/playerSprites.png)	-360px -2px;	}
	#volume_image.full:hover {	background:url(../assets/playerSprites.png)	-360px -42px;	}
#repeat {	background:url(../assets/playerSprites.png) -400px -2px;	}
	#repeat:hover {	background:url(../assets/playerSprites.png) -400px -42px;	}
#repeat.one {	background:url(../assets/playerSprites.png) -440px -2px;	}
	#repeat.one:hover {	background:url(../assets/playerSprites.png) -440px -42px;	}
#repeat.all {	background:url(../assets/playerSprites.png) -480px -2px;	}
	#repeat.all:hover {	background:url(../assets/playerSprites.png) -480px -42px;	}
#shuffle {	background:url(../assets/playerSprites.png) -520px -2px;	}
	#shuffle:hover {	background:url(../assets/playerSprites.png) -520px -42px;	}
#shuffle.on {	background:url(../assets/playerSprites.png) -560px -2px;	}
	#shuffle.on:hover {	background:url(../assets/playerSprites.png) -560px -42px;	}
#options {	background:url(../assets/playerSprites.png) -600px -2px;	}
	#options:hover {	background:url(../assets/playerSprites.png) -600px -42px;	}
#player_lyrics_autoscroll {	width:auto;	height:20px;	line-height: 20px;	font-size:12px;	text-align: center;	padding-left:10px;	padding-right:10px;		margin-top:8px;	background-color: rgb(100,100,100); color:white;	opacity:1.0;	-webkit-transition: opacity 200ms linear;	-ms-transition: opacity 200ms linear;	transition: opacity 200ms linear;	}
#player_lyrics_autoscroll.active {	background-color:white; color:black;}
#player_lyrics_autoscroll.locked {	opacity:0.3 !important;	cursor: initial !important;	box-shadow: none !important;	}
	#player_lyrics_autoscroll:hover {	cursor:pointer;	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);	}

@media screen and (max-width: 1300px) {
    #volume_container {
    	max-width: 120px;
    }
}
@media screen and (max-width: 1220px) {
    .extrasButtons {	width:36px;	}
    #playerOptions {display:inline-block;	}
    .extrasButtons:hover {	width:auto;		left:0px;	overflow-x:scroll;	}
	.extrasButtons:hover ~ .controlsButtons {	width:0px;	}
}