@-o-keyframes fadeEdit {
  0%   { background-color: rgb(201,222,0); }
  50%  { background-color: rgb(242,253,132); }
  100% { background-color: rgb(255,255,255); }
}
@keyframes fadeEdit {
  0%   { background-color: rgb(201,222,0); }
  50%  { background-color: rgb(242,253,132); }
  100% { background-color: rgb(255,255,255); }
}

html, body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	font-family: Arial;
}
#content {
	position:relative;
	display:none;
	z-index: 1;
	width:100%;
	height:100%;
	margin-top:-1px;
	overflow:hidden;
}
#content .content_item {
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	-webkit-transition: left 200ms linear;
	-ms-transition: left 200ms linear;
	transition: left 200ms linear;
}
#content #media_container {
	left:-100%;
}
#content #media_container.selected {
	left:0%;
}
#content #player_container {
	left:100%;
}
#content #player_container.selected {
	left:0%;
}


.header {
	position:absolute;
	top:0;
	left:0;
	right:0;
	display:block;
	width:100%;
	height:69px;
	line-height: 69px;
	border-bottom:1px solid black;
	text-align: center;
	z-index: 3;
}
.header h1 {
	margin:0;
	padding:0;
	font-size:25px;
}
.header .header_back_button {
	position:absolute;
	display:block;
	max-width: 200px;
	left:10px;
	top:20px;
	height:30px;
	line-height: 30px;
	width:80px;
	font-size:12px;
	border:1px solid rgb(230,230,230);
	background-color:lightblue;
}
.header .header_forward_button {
	position:absolute;
	display:none;
	max-width: 200px;
	right:10px;
	top:20px;
	height:30px;
	line-height: 30px;
	width:80px;
	font-size:12px;
	border:1px solid rgb(230,230,230);
	background-color:red;
	color:white;
}
.header.player_open {
	background-color:black;
	color:white;
}
#search_input {
	display: block;
	height:30px;
	padding:5px;
	box-sizing: border-box;
	margin-top:10px;
	width:200px;
	font-size: 12px;
	margin-left:20px;
}




#media_header {
	background-color:white;
}
#media_header #open_player.opened {
	display:block;
}
#media_relative_container {
	position:relative;
	z-index: 1;
	width:100%;
	height:100%;
	padding-left:20px;
	padding-right:20px;
	padding-top:70px;
	box-sizing: border-box;
	overflow:hidden;
}
#media_relative_container #media_contents {
	position:relative;
	z-index: 1;
	width:100%;
	height:100%;
	overflow-y: scroll;
}
#media_relative_container .album_item {
	position:relative;
	display:block;
	width:100%;
	height:auto;
	text-align: left;
	font-size:25px;
	padding-top:20px;
	margin-bottom:40px;
}
.album_item .album_title_container {
	position:relative;
	display:block;
	height:100px;
	width:100%;
	margin-bottom:20px;
}
.album_item .album_title_container .album_art_container {
	display:inline-block;
	vertical-align: middle;
	width:100px;
	height:100px;
	margin-right:25px;
	position:absolute;
	left:0;
	top:0;
}
.album_item .album_title_container .album_art_container img {
	display:block;
	max-height: 100%;
	max-width: 100%;
}
.album_item .album_title_container .album_title {
	position:absolute;
	display:inline-block;
	vertical-align: middle;
	height:auto;
	margin:0;
	padding:0;
	left:125px;
	font-size:20px;
	top:50%;
	transform: translateY(-50%);
}
.album_item .song {
	display:block;
	width:100%;
	height:auto;
	border-top:1px solid rgb(230,230,230);
	padding:10px;
	box-sizing: border-box;
	-webkit-transition: padding-left 100ms linear;
	-ms-transition: padding-left 100ms linear;
	transition: padding-left 100ms linear;
	-webkit-transition: background-color 100ms linear;
	-ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
}
.album_item .song:hover {
	cursor:pointer;
	background-color: rgb(240,240,240);
}
.album_item .song.searched {
	padding-left:15px;
	background-color:lightgreen;
}
.album_item .song .song_title {
	display:block;
	width:100%;
	font-size:16px;
	margin-bottom:5px;
}
.album_item .song .song_artist {
	display:block;
	width:100%;
	font-size:10px;
	color: rgb(150,150,150);
}


#player_header {
	background-color: black;
	color:white;
}
#player_container {
	background-color:black;
	color:white;
}

#player_relative_container {
	position:relative;
	z-index: 1;
	width:100%;
	height:100%;
	padding-left:20px;
	padding-right:20px;
	padding-top:70px;
	box-sizing: border-box;
	text-align: center;
	overflow:hidden;
}
#player_art_and_lyrics {
	position:relative;
	display:block;
	width:100%;
	height:300px;
	margin-top:20px;
	margin-bottom:20px;
	overflow:hidden;
}
#player_art_and_lyrics #player_lyrics {
	position:absolute;
	z-index: 2;
	display:none;
	width:100%;
	max-height:300px;
	top:50%;
	transform: translateY(-50%);
	padding:20px;
	box-sizing: border-box;
	overflow-y: scroll;
	font-size: 12px;
}
#player_art_and_lyrics #player_lyrics .lyric_segment {
	display:block;
	width:100%;
	min-height: 12px;
	color:white !important;
}
#player_art_and_lyrics #player_art {
	position:absolute;
	z-index: 1;
	display:block;
	max-width:100%;
	max-height: 300px;
	top:0;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	top:50%;
	transform: translateY(-50%);
}
#player_art_and_lyrics.lyrics_open #player_art {
	opacity:0.2;
}
#player_art_and_lyrics.lyrics_open #player_lyrics {
	display:block;
}
#player_controls {
	position:relative;
	display:block;
	width:100%;
}
#player_title_container {
	position:relative;
	height:75px;
	display:block;
}
#player_title {
	position:absolute;
	width:100%;
	padding:0;
	margin:0;
	top:50%;
	transform: translateY(-50%);
	font-size:25px;
}
#player_artist_container {
	position:relative;
	height:30px;
	display:block;
	margin-bottom:20px;
}
#player_artist {
	position:absolute;
	width:100%;
	left:0;
	right:0;
	padding:0;
	margin:0;
	top:50%;
	transform: translateY(-50%);
	font-size:15px;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 9px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 6.6px #e6e6e6, 0px 0px 0px #f3f3f3;
  background: #ffffff;
  border-radius: 10px;
  border: 1.9px solid rgba(230, 230, 230, 0.5);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #e6e6e6, 0px 0px 1px #f3f3f3;
  border: 1px solid #000000;
  height: 23px;
  width: 12px;
  border-radius: 11px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 6.6px #e6e6e6, 0px 0px 0px #f3f3f3;
  background: #ffffff;
  border-radius: 10px;
  border: 1.9px solid rgba(230, 230, 230, 0.5);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #e6e6e6, 0px 0px 1px #f3f3f3;
  border: 1px solid #000000;
  height: 23px;
  width: 12px;
  border-radius: 11px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bdbdbd;
  border: 1.9px solid rgba(230, 230, 230, 0.5);
  border-radius: 20px;
  box-shadow: 0px 0px 6.6px #e6e6e6, 0px 0px 0px #f3f3f3;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 1.9px solid rgba(230, 230, 230, 0.5);
  border-radius: 20px;
  box-shadow: 0px 0px 6.6px #e6e6e6, 0px 0px 0px #f3f3f3;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #e6e6e6, 0px 0px 1px #f3f3f3;
  border: 1px solid #000000;
  height: 23px;
  width: 12px;
  border-radius: 11px;
  background: #ffffff;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}


#time_container, #controls_container, #extras_container {
	display:block;
	width:100%;
	font-size: 0;
	margin-bottom:30px;
	margin-top:30px;
}
#time_container .player_time {
	display:inline-block;
	vertical-align: middle;
	width:25%;
	font-size:12px;
}
#time_container #time_slider {
	display:inline-block;
	vertical-align: middle;
	width:50%;
	padding:0;
	margin:0;
}
#controls_container .control {
	display:inline-block;
	vertical-align: middle;
	width:50px;
}
#controls_container .control.hiddenControl {
	display:none;
}
#controls_container #play, #controls_container #pause {
	margin-left:20px;
	margin-right:20px;
}
#controls_container #backFive {
	margin-left:20px;
}
#controls_container #forwardFive {
	margin-right:20px;
}
#extras_container .extras_control {
	display:inline-block;
	vertical-align: middle;
	width:30px;
}
#extras_container #volume {
	display:inline-block;
	vertical-align: middle;
	margin-left:20px;
	margin-right:20px;
	padding:0;
}


@media only screen and (max-width: 600px) {

	.header {
		height:49px;
		line-height: 49px;
	}
	.header .header_back_button, .header .header_forward_button {
		top:10px;
	}
	#media_relative_container, #player_relative_container {
		padding-top:50px;
	}


	#extras_container #volume {
		display:none;
	}
	#extras_container .extras_control {
		margin-left:20px;
		margin-right:20px;
	}

	#player_art_and_lyrics {
		height:250px;
	}
	#player_art_and_lyrics #player_lyrics {
		max-height:250px;
		top:50%;
	}
	#player_art_and_lyrics #player_art {
		max-height: 250px;
	}
	#player_artist_container {
		margin-bottom:15px;
	}
	#time_container, #controls_container, #extras_container {
		display:block;
		width:100%;
		font-size: 0;
		margin-bottom:20px;
		margin-top:20px;
	}
	#controls_container .control {
		width:30px;
	}
}
